.btn-white {
  background-color: #fff;
  border: 1px solid $border-color;
}

.loading-btn {
  position: relative;
  .btn-loading-text {
    opacity: 0;
  }

  .loading-spinner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}
