.btn-white {
  background-color: #fff;
  border: 1px solid $border-color;
}

.loading-btn {
  position: relative;
  .btn-loading-text {
    opacity: 0;
  }

  .loading-spinner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.btn-icon {
  background-color: transparent;
  border-color: transparent;
  color: $body-color;
  box-shadow: none;
  padding: 0.375rem 0.75rem;
}
